@import "shared";
@import '../../../scss/base/layout/ad-detail';
@import '../../../scss/base/typo/ad-detail';

.adbtn {
    &.adbtn-darkgrey {
        position: absolute;
        top: 16px;
        left: 16px;
        z-index: 4;

        width: 40px;
        height: 40px;
        border-radius: $border-radius-mb;

        .bi {
            margin: 0;
            font-size: 1.125rem; // 18px

            &:before {
                font-weight: 900 !important;
            }
        }
    }
}