<section class="ads-detail container">
    <div class="row">
        <div class="hidden-md col-lg-3">
            <app-side-menu></app-side-menu>
        </div>
        <div class="col-12 col-lg-9">
            <div class="ad-detail-header d-flex align-items-center justify-content-between">
                <a (click)="goBackBtnClick()" class="btn adbtn adbtn-purple d-none d-sm-flex">
                    <i class="bi bi-arrow-left"></i>
                    <span class="label">Vissza</span>
                </a>

                <a (click)="goBackBtnClick()" class="btn adbtn adbtn-darkgrey d-flex align-items-center justify-content-center d-sm-none">
                    <i class="bi bi-chevron-left"></i>
                </a>

                <h1 class="shadow-sm d-none d-sm-block px-4 py-3">
                    <span class="label">Részletek</span>
                </h1>
            </div>

            <app-ad-images [images]="[adData?.image || '']"></app-ad-images>
            <app-ad-details [details]="adData" [isFavorite]="isFavorite" (toggLeFavorite)="toggLeFavorite()"></app-ad-details>
        </div>
    </div>
</section>