<article class="ad d-flex flex-column flex-md-row shadow">
    <a [routerLink]="['/', 'hirdetes', data?.adId]" class="ad-image-container" title="Tovább a hírdetésre">
        <ng-container *ngIf="!!data?.image; else noImage">
            <img [src]="data?.image" class="ad-image" alt="">
        </ng-container>
        <ng-template #noImage>
            <div class="no-ad-image"></div>
        </ng-template>
    </a>


    <header class="ad-header flex-grow-1 d-flex flex-column">
        <h2 *ngIf="!!data?.address" class="ad-address">
            <a [routerLink]="['/', 'hirdetes', data?.adId]" title="Tovább a hírdetésre">
                {{ data.address }}
            </a>
        </h2>
        <span *ngIf="!!data?.price && !!data?.currency" class="ad-price">{{ data.price | number }} {{ data.currency }}</span>
        <span *ngIf="!!showDate && !!data?.uploadDate" class="ad-date">
            <i class="bi bi-calendar-week"></i>
            <time>{{ data.uploadDate }}</time>
        </span>
    </header>
    <a (click)="onToggleFavoriteBtnClick()" [attr.title]="(isFavorite ? 'Eltávolítás a kedvencekből' : 'Hozzáadás a kedvencekhez')" class="adbtn adbtn-favorite-toggle d-flex align-items-center justify-content-center shadow-sm">
        <i *ngIf="isFavorite; else notFavorite" class="bi bi-star-fill"></i>
        <ng-template #notFavorite>
            <i class="bi bi-star"></i>
        </ng-template>
    </a>
</article>
