@import "shared";

.ad-images {
    position: relative;
    margin-bottom: 40px;
    height: 300px;
    overflow: hidden;
    border-radius: $border-radius-big;
    z-index: 2;

    @include media-breakpoint-down(md) {
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 0;
        border-radius: 0;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    }

    &.container {
        padding: 0;

        .row {
            .col {
                @include media-breakpoint-down(sm) {
                    padding: 0;
                }

                &:nth-child(3) {
                    .row {
                        &:first-child {
                            .col {
                                padding-bottom: 12px;
                            }
                        }

                        &:nth-child(2) {
                            .col {
                                padding-top: 12px;
                            }
                        }

                        .col {
                            height: 150px;
                        }
                    }
                }
            }
        }
    }

    .container {
        padding: 0;
    }

    .col {
        align-items: flex-start;
    }

    img {
        width: 100%;
        height: 100%;
        max-height: 300px;
        object-fit: cover;
    }
}