body {
    font-family: $font-family;
    color: $def-text-color;
}

a {
    color: $primary;
    transition: color #{$def-transition-ease};

    &:hover {
        color: darken($primary, 5%);
    }
}

h1,
h2 {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem; // 24px

    .note {
        font-size: 1rem;
    }
}

h2 {
    font-size: 1.875rem; // 30px
}