.adbtn {
    height: 38px;

    &.adbtn-purple {
        font-weight: 700;
        font-size: 1rem;
        color: $primary;
        background-color: $purple;

        &:hover {
            background-color: darken($purple, 5%);
        }
    }

    .bi {
        margin-right: 6px;
    }

    &.adbtn-favorite-toggle {
        width: 40px;
        height: 40px;
        background-color: $white;
        border-radius: $border-radius-mid;
        z-index: 1;

        &:hover {
            .bi {
                transform: rotate3d(0, 1, 0, 360deg);
            }
        }

        .bi {
            margin-right: 0;
            transition: all #{$def-transition};

            &:before {
                font-size: 1.5rem; // 24px
            }

            &.bi-star {
                color: $grey-mid;
            }

            &.bi-star-fill {
                color: $orange;
            }
        }
    }
}