<section class="ads-list favorites container">
    <div class="row">
        <div class="hidden-md col-lg-3">
            <app-side-menu></app-side-menu>
        </div>
        <div class="col-12 col-lg-9">
            <h1 class="d-flex justify-content-between shadow-sm mb-4 px-4 py-3">
                <span class="label">Kedvencek</span>
                <span class="note">{{ favorites?.length || 0 }} db.</span>
            </h1>

            <app-ads-sort-control
                *ngIf="!!favorites?.length && favorites.length > 1"
                [sortOrder]="sortOrder"></app-ads-sort-control>

            <ng-container *ngIf="!!favorites?.length; else noFavorites">
                <app-ad-box *ngFor="let favorite of favorites" [data]="favorite" [showDate]="true"></app-ad-box>
            </ng-container>

            <ng-template #noFavorites>
                <p>Nincsenek kedvencek</p>
            </ng-template>
        </div>
    </div>
</section>