@import 'shared';

.ads-sort {
    form {
        select {
            width: 35%;

            @include media-breakpoint-down(lg) {
                width: 45%;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }
}