@import "shared";

.modal {
    .modal-body {
        & > p {
            margin-bottom: 24px;
        }

        .contact-block {
            padding: 0 12px;

            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }

        .bi {
            margin-right: 6px;
        }

        a {
            margin-left: 6px;
        }
    }
}