@import 'shared';

.main-nav {
    border-radius: $border-radius-big;
    background-color: $white;
    transition: all .25s ease-in-out;

    @include media-breakpoint-down(lg){
        position: fixed;
        left: -200px;
        top: $header-height;
        width: 200px;
        height: 100%;
        border-radius: 0 $border-radius-mid $border-radius-mid 0;
    }

    &.open {
        left: 0;
    }

    .nav-item {
        .nav-link {
            font-weight: 500;
            font-size: .875rem; // 14px
            border-radius: $border-radius-mid;

            &.active-nav {
                font-weight: 700;
                background-color: $purple;
                pointer-events: none;
            }

            &:hover {
                background-color: lighten($purple, 2%);
            }
        }
    }
}