@import "breakpoints";

// fonts
$font-family: 'Red Hat Display', sans-serif;

// colors
$def-text-color: #191919;
$white: #fff;
$bg-color: #fafbff;
$purple: #EBECFA;
$primary: #323EC8;
$grey-dark: #637181;
$grey-darker: #485563;
$grey-mid: #B2B2B2;
$orange: #FFB300;

// others
$header-height: 50px;
$footer-height: 100px;
$border-radius-big: 16px;
$border-radius-mb: 10px;
$border-radius-mid: 8px;

// transitions
$def-transition-sec: .25s;
$def-transition-ease: ease-in-out;
$def-transition: #{$def-transition-sec} #{$def-transition-ease};